* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
  background-color: white;
}

.profile:hover{
  width: 100%;
  font-size: 2em;
  height: 40vh;

  background-color: #F0DB4F;
}

.header{

  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-button{
  display: inline-block;
  padding: 10px;
  background-color: #F0DB4F;
  border-radius: 5px;
  color: white;
}

.header-button:hover{
  transform: scale(1.2);
}

a{
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
 
}

.main-CV {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
  height: 100%;
  border: 1px solid black;
}

/* Start of Aside Container */
.aside-left-container {
  width: 13%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: 100px;

}

.itskills-container{
  width: 90%;
}


.icons{
  width: 40px;
  height: 40px;
}

.icons:hover{
  background-color: black;
 
}

.language-skills{
  width: 90%;
}
ul{
  list-style-type: none;
}
.lang-list{
  margin: 2px;

}

.lang-list:hover{
  color: white;
  background-color: black;
  padding-left:10px;

}

/* End of Aside Left Container */

/* start of right aside container */
.contact-container {
  width: 12%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: 100px;
  margin: 0 5px
 
 
}

fieldset{
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1em;
 
}

.civil-status{
  width: 100%;

}




/* Start of Main CV Styling */

.black-bar {
  width: 98%;
  height: 3px;
  background-color: black;
}

.photo-CV {
  width: 40%;
  min-height: 200px;
}
.myname {
  width: 60%;
  min-height: 200px;
  font-family: Verdana, Geneva, Tahoma, serif;
  font-weight: bold;
  font-size: 3em;
  padding: 110px;
}
.profile {
  width: 100%;
  min-height: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.workexperience {
  width: 50%;
  min-height: 440px;
  padding-left: 5px;
}

li {
  font-size: 14px;
  margin-left: 30px;
}

h2 {
  margin-bottom: 5px;
  text-align: center;
}

ul {
  margin-bottom: 5px;
}
.education {
  width: 50%;
  min-height: 440px;
  padding-left: 5px;
}
.hobbies {
  width: 50%;
  min-height: 300px;
}
.volunteer-exp {
  width: 50%;
  min-height: 300px;
  padding-left: 5px;
}

.education:hover{
  background-color: #F0DB4F;
}
.volunteer-exp:hover{
  background-color: #F0DB4F;
}

.hobbies:hover{
  background-color: #F0DB4F;
}

.workexperience:hover{
  background-color: #F0DB4F;
}

/* End of Main CV Styling */


/* Go Up Button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 200px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(18, 18, 18);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* End of Go up button */

.popup-containers {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup-images{
  visibility: hidden;
  width: 80%;
  position: absolute;
  right: 0;
  z-index: 1;
}
.civil-status-list{
margin: 0;
padding: 0;
}


.right-icons{
  margin-bottom: -4px;
  margin-top: 10px;
  width: 20px; 
  height:20px;

} 

a:link { text-decoration: none; }

a:visited { 
    text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }


@media (max-width: 1024px) {
  .main-CV {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
}

