.flag{
    width: 400px;
    height: 400px;
    background-color: red;
    margin:100px auto;
    position: relative;
}
.verticalcolumn { 
    width: 200px;
    height: 80px;
    background-color: white;
    position:absolute;
    top: 160px;
    left: 100px;
    
}

.horizontalcolumn {
    width: 80px;
    height: 200px;
    background-color: white;
    position:absolute;
    top:100px;
    left:160px;
}