/* Here is general header part stlying for my works */

.header-devblog{
  width: 100%;
  background-image: url("/images/background.png");  
  background-size:contain;
}

.header-ul-devblog{
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  
}
.header-button-devblog{
  display: inline-block;
  padding: 10px;
  margin:10px;
  background-color: #F0DB4F;
  border-radius: 5px;
}
.blog-header-inside-h1{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin: 30px auto 10px auto;

}

.blog-header-inside-p{  
  text-align: center;
  font-size: 1.2em;
  margin: 40px auto 40px auto;
}

.back-button{
  width: 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  text-decoration: none;
}

.next-button{
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 0;
}

.back-button:hover,.next-button:hover {
  font-size: 2em;
  background-color:white;
  color: black;
  width: 200px;
  cursor: pointer;
}


a:link { text-decoration: none; }

a:visited { 
  color:unset;
  text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

/*End of header styling  */



.chesstable {
  width: 407px;
  height: 407px;
  border: 1px solid black;
  position: relative;
  margin: 100px auto;
}

.row1 td:nth-of-type(odd) {
  background-color: black;
}
.row2 td:nth-of-type(even) {
  background-color: black;
}
.row3 td:nth-of-type(odd) {
  background-color: black;
}
.row4 td:nth-of-type(even) {
  background-color: black;
}
.row5 td:nth-of-type(odd) {
  background-color: black;
}
.row6 td:nth-of-type(even) {
  background-color: black;
}
.row7 td:nth-of-type(odd) {
  background-color: black;
}
.row8 td:nth-of-type(even) {
  background-color: black;
}

pre{
  display: block;
  width: 80%;
  margin: auto;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
