html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: aqua;
  margin: 10px;
}

#navigation {
  position: sticky;
  top: 0px;
  height: 180px;
  width: 100%;
  background-color: grey;
  padding-left: 100px;
}

ul li {
  display: inline-block;
  background-color: greenyellow;
  height: 40px;
  width: 60px;
  color: rgb(255, 230, 0);
  text-align: center;
}
ul {
  text-align: center;
}

#popup {
  position: relative;
  width: 100%;
  height: 400px;
  /* border: 2px solid black; */
  background-color: blueviolet;
  color: black;
}
#child1 {
  border: 1px dotted yellow;
  background-color: beige;
  position: absolute;
  left: 30px;
  top: 0px;
  margin: 0;
}

#child2 {
  border: 1px dotted yellow;
  background-color: beige;
  position: absolute;
  right: 50px;
  bottom: 30px;
}
a:link {
  color: #fff;
  text-decoration: none;
}
li:hover ul {
  display: block;
  position: absolute;
  left: 200px;
  background-color: green;
  margin: 0;
}
/* li:hover ul li a:link {
  display: block;
  margin-left: -30px;
} */
