*{
    margin:0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

/* Here is general header part stlying for my works */

.header-devblog{
    width: 100%;
    background-image: url("/images/background.png");  
    background-size:contain;
  }
  
  .header-ul-devblog{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
  }
  .header-button-devblog{
    display: inline-block;
    padding: 10px;
    margin:10px;
    background-color: #F0DB4F;
    border-radius: 5px;
  }
  .blog-header-inside-h1{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin: 30px auto 10px auto;
  
  }
  
  .blog-header-inside-p{  
    text-align: center;
    font-size: 1.2em;
    margin: 40px auto 40px auto;
  }
  
  .back-button{
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    text-decoration: none;
  }

  .next-button{
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 0;
  }

.back-button:hover,.next-button:hover {
    font-size: 2em;
    background-color:white;
    color: black;
    width: 200px;
    cursor: pointer;
}


a:link { text-decoration: none; }

a:visited { 
    color:unset;
    text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

  /*End of header styling  */



.subpage-header{
    width: 100%;
    min-height: 300px;
    background-color: lightblue;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#content{
    width: 100%;
    min-height: 300px;
    background-color: lightcoral;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#container{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

article{
    width: 100%;
    min-height:300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
article:first-child{ 
    background-color: brown;
}
article:nth-child(2){ 
    background-color: lightseagreen;
}
article:nth-child(3){ 
    background-color: lightslategray;
}
article:nth-child(4){ 
    background-color: rgb(218, 174, 93);
}

@media (min-width: 768px) and (max-width: 1024px){
   #content, #container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    article{
        width: 50%;
    }
}

@media (min-width: 1024px){
    main{
        display: flex;
        flex-direction: column-reverse;
    }
    
    #content, #container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    article{
        width: 33.3%;
    }

    article:first-child{
        width: 100%;
        min-height: 200px;
        order: 4;
    }
}