* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* img{
   object-fit: cover;
} */
.container {
  display: flex;
  margin: 40px 0 40px 0;
}

.main-CV {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
  height: 100%;
  border: 1px solid black;
}

.itskillscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15%;
  height: 100%;
  background-color: rgb(232, 75, 75);
}

.contact-container {
  width: 10%;
  height: 100%;
  background-color: rgb(232, 75, 75);
}

.black-bar {
  width: 98%;
  height: 3px;
  background-color: black;
}

.photo-CV {
  width: 40%;
  min-height: 200px;
}
.myname {
  width: 60%;
  min-height: 200px;
  font-family: Verdana, Geneva, Tahoma, serif;
  font-weight: bold;
  font-size: 3em;
  padding: 110px;
}
.profile {
  width: 100%;
  min-height: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.workexperience {
  width: 50%;
  min-height: 440px;
  padding-left: 5px;
}

li {
  font-size: 14px;
  margin-left: 30px;
}

h2 {
  margin-bottom: 5px;
  text-align: center;
}

ul {
  margin-bottom: 5px;
}
.education {
  width: 50%;
  min-height: 440px;
  padding-left: 5px;
}
.hobbies {
  width: 50%;
  min-height: 300px;
}
.volunteer-exp {
  width: 50%;
  min-height: 300px;
  padding-left: 5px;
}

@media (max-width: 1024px) {
  .main-CV {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
}
