*{
    margin:0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

/* Here is general header part stlying for my works */

.header-devblog{
    width: 100%;
    background-image: url("/images/background.png");  
    background-size:contain;
  }
  
  .header-ul-devblog{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
  }
  .header-button-devblog{
    display: inline-block;
    padding: 10px;
    margin:10px;
    background-color: #F0DB4F;
    border-radius: 5px;
  }
  .blog-header-inside-h1{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin: 30px auto 10px auto;
  
  }
  
  .blog-header-inside-p{  
    text-align: center;
    font-size: 1.2em;
    margin: 40px auto 40px auto;
  }
  
  .back-button{
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    text-decoration: none;
  }

  .next-button{
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 0;
  }

.back-button:hover,.next-button:hover {
    font-size: 2em;
    background-color:white;
    color: black;
    width: 200px;
    cursor: pointer;
}


a:link { text-decoration: none; }

a:visited { 
    color:unset;
    text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

  /*End of header styling  */


form{
    margin: 40px 100px;
    padding: 40px 30px;
    background-color: lightgrey;
    
}
.blackthickbanner{
    width: 200px;
    height: 12px;
    background-color: black;
    margin:20px 0 20px 0;
}

p{
    font-weight: bold;
}
.firstthinbanner {
    height:2px ;
    width: 100%;
    background-color: black;
}

.secondthinbanner {
    height:2px ;
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
}

.thirdthinbanner {
    height:2px ;
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
}


h3{
    font-size: 1em;
    font-weight: 600;
}

.type1{
    border: none;
    border-bottom: .5px solid grey;
}
.type1:checked{
    border: 1px solid black;
}

.type3{
    border: none;
    border-bottom: 1px solid black;
}
.type3:checked{
    border: 1px solid black;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: row;
}

input{
    cursor: pointer;
}

.type2{
      appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    border: 0.2rem solid #fff;
    background-color: var(--bg-color);
    border-radius: 50%;
}

div{
    display: flex;
    justify-content: space-between;

}

button{
    background-color: black;
    color: white;
    position: absolute;
    right: 150px;
    cursor: pointer;

}

pre{
    display: block;
    width: 80%;
    margin: auto;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }