* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

.header-devblog{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/My Portfolio Project/images/generalheaderbackground.png");
  background-size: contain;
  background-repeat: repeat-y;
  background-color: #0f1225;
  color: #adbccd;

  
}
.header-ul-devblog{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.blog-header-inside-h1{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin: 50px auto 20px auto;

} 

.blog-header-inside-p{  
  text-align: center;
  font-size: 1.2em;
  margin: 40px auto 40px auto;
}

.header-button-devblog{
  display: inline-block;
  padding: 10px;
  margin: auto 10px;
  background-color: #F0DB4F;
  border-radius: 5px;
}

.header-button-devblog:hover{
  transform: scale(1.2);
  background-color: #adbccd;
}

.mydevblog-articles-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.articles-devblog{
  width: 80%;
  font-size: 1.5em;
  border-bottom: dotted;
  padding: 20px;
}

.articles-devblog:hover{
  background-color: lightcoral;
  font-size: 1.5em;
  padding-left: 30px;
  color: black;

}

footer{
  width: 100%;
  height: 150px;
  margin-top: 200px;
  background-color: #0f1225;
  display: flex;
  justify-content: center;
  align-items: center;

}

button{
  color: #0f1225;
  font-size: 1em;
  background-color: #adbccd;
  scroll-behavior: smooth;
  cursor: pointer;
  padding: 5px;
font-weight: bolder;
}


a:link { text-decoration: none; }

a:visited { 
    text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }



@media (max-width: 900px){
 
.header-devblog{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: none;
  background-size: contain;
  background-repeat: repeat-y;
  background-color: #0f1225;
  color: #adbccd;

  
}
}

