

.main-container{
    width: 400px;
    height: 400px;
    background-image:url(pexels-anna-shvets-4586901.jpg);
    background-size: cover;
    margin: 50px auto;
}

h1{
text-align: center;
}
button{
    margin-left: 180px;
}

li{
    font-size: 1.2em;
  
}

span:nth-child(2), span:nth-child(3){
    margin:10px;
    background-color: lightcoral;
    border: 1px solid black;
}