*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* body{
    font-size: 20px;
    font-family: sans-serif;
} */

/* Here is general header part stlying for my works */

.header-devblog{
    width: 100%;
    background-image: url("/images/background.png");  
    background-size:contain;
  }
  
  .header-ul-devblog{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
  }
  .header-button-devblog{
    display: inline-block;
    padding: 10px;
    margin:10px;
    background-color: #F0DB4F;
    border-radius: 5px;
  }
  .blog-header-inside-h1{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin: 30px auto 10px auto;
  
  }
  
  .blog-header-inside-p{  
    text-align: center;
    font-size: 1.2em;
    margin: 40px auto 40px auto;
  }
  
  .back-button{
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    text-decoration: none;
  }

  .next-button{
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 0;
  }

.back-button:hover,.next-button:hover {
    font-size: 2em;
    background-color:white;
    color: black;
    width: 200px;
    cursor: pointer;
}


a:link { text-decoration: none; }

a:visited { 
    color:unset;
    text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

  /*End of header styling  */


h1{
    text-align: center;
    margin: 30px auto;
}
main{
    display: flex;
    width: 80%;
    margin:auto;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
}
article{
    border: 1px solid red;
    margin: 20px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article > *{
    margin: 10px;
}
article > p{
    text-align: center;
    font-size: 2em;
    font-weight: 500
    ;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section > p{
    min-width: 30vw;
    margin: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
    font-size: 1.5em;
}

section > p:hover{
    background-color: lightblue;
}
#result{
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 75vh;
    border: 2px solid gray;
}
@media (max-width=600px) {
    section{
        flex-direction: column;
    }
}